name: 'E2E Testing'

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4.1.0

      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        with:
          app_id: ${{ secrets.GH_APP_E2E_ID }}
          installation_id: ${{ secrets.GH_APP_E2E_INSTALLATION_ID }}
          private_key: ${{ secrets.GH_APP_E2E_PRIVATE_KEY }}

      - name: Sync Files
        uses: ./
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          config_file: '.github/files-sync-e2e-config.yml'
