name: 'E2E Testing'

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.GH_APP_E2E_ID }}
          private-key: ${{ secrets.GH_APP_E2E_PRIVATE_KEY }}
          owner: wadackel

      - name: Sync Files
        uses: ./
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          config_file: '.github/files-sync-e2e-config.yaml'
