name: 'E2E Testing'

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.GH_APP_E2E_ID }}
          private-key: ${{ secrets.GH_APP_E2E_PRIVATE_KEY }}
          owner: wadackel

      - name: Sync Files
        uses: ./
        with:
          github_token: ${{ steps.generate_token.outputs.token }}
          config_file: '.github/files-sync-e2e-config.yaml'
